page-details {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  ion-content {
    background-color: #fff;
    ion-list {
      background-color: #fff !important;
      ion-item {
        background-color: #fff;
      }
    }
  }
  ion-icon {
    font-size: 30px;
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    width: 100%;
    transition: opacity 1s;
    &.lazy {
      opacity: 0;
    }
    &.ng-lazyloaded {
      opacity: 1;
    }
  }
}
